.card-div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5%;

}

.card-div>img{
    width: 70%;
    height: 185px;
    
    
    


}
#mainContainer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    justify-items: center;
    align-content: center;

    

}